name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: install-build-essential
      run: sudo apt-get install build-essential
    - name: install-sql-libs-7v5
      run: sudo apt-get install libmysqlcppconn7v5
    - name: install-sql-libs-dev
      run: sudo apt-get install libmysqlcppconn-dev
    - name: cd-and-make
      run: cd blockchain && make all
